<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <context:component-scan base-package="real_spring"/>

    <context:property-placeholder location="classpath:application.properties"/>


    <bean id="integerFactory" class="real_spring.quoters.IntegerFactory">
        <constructor-arg index="0" value="12"/>
        <constructor-arg index="1" value="120"/>
    </bean>

    <bean id="anotherQuote" class="java.lang.String">
        <constructor-arg value="trust me!"/>
    </bean>

</beans>












